.App {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.App-title {
  text-align: center;
}

.App-loading {
  text-align: center;
}

.App-button {
  display: block;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  appearance: none;
  cursor: pointer;
  border: 1px solid gray;
  padding: 0.5rem 1rem;
}

.App-button_start {
  background-color: hsl(140, 70%, 55%);
}

.App-button_start:hover {
  background-color: hsl(140, 70%, 45%);
}

.App-button_stop {
  color: white;
  background-color: hsl(0, 70%, 55%);
}

.App-button_stop:hover {
  background-color: hsl(0, 70%, 45%);
}

.App-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.App-chartContainer {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2rem;
}

.Chart {
  border: 1px solid black;
}

.Chart h2 {
  background-color: lightgray;
  border-bottom: 1px solid black;
  margin-top: 0;
  margin-bottom: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1;
  text-align: center;
}

.Chart-latestDataContainer {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  justify-items: center;
  padding: 1rem;
}

.Chart-latestDataItem {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  justify-items: center;
  align-items: center;
  border: 1px solid gray;
  aspect-ratio: 1;
}

.Chart-latestDataItem p {
  margin: 0;
}

.Chart-latestDataItem p:first-child {
  font-size: 1.5rem;
}

.Chart-latestDataItem p:last-child {
  font-weight: 500;
}
